<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      {% render 'product-media', product: product, section: section, current_variant: current_variant, gallery_style: "slider", product_thumbnail: true %}
    </div> 
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="main-product-content">
        {% render 'product-details', product: product, section: section, current_variant: current_variant, featured_product : true %}
      </div>
    </div>
  </div>