.passowrd-content-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    position: relative;
    z-index: 1;
}

.password-content {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.password-img {
    display: inline-block;
    max-width: 300px;
    margin-bottom: 25px;
}

.password-heading {
    padding-bottom: 10px;
}

.password-desc {
    font-size: var(--large-text);
}

.password-form {
    max-width: 550px;
    margin: 40px auto 0;
}

.password-content-desc {
    text-align: center;
    padding-top: 25px;
}

.enter-password-button {
    position: fixed;
    top: 35px;
    right: 35px;
    z-index: 2;
    color: var(--text-color);
}

.password-popup {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--body-background);
    width: 100%;
    overflow: auto;
    height: 100%;
    z-index: 2;
    display: none;
}

.password-popup-content {
    text-align: center;
    position: relative;
    width: auto;
    min-height: 100vh;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-popup-close {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--text-color);
    color: var(--body-background);
    z-index: 3;
    border-radius: 100%;
}

.password-popup-close svg {
    width: 14px;
}

@media (min-width:1200px) {
    .password-popup-close {
        width: 64px;
        height: 64px;
    }
    .password-popup-close svg {
        width: 18px;
    }
}

@media (max-width:767px) {
    .enter-password-button {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 85%;
        text-align: center;
    }
    .password-content {
        padding: 30px 0;
    }
    .enter-password-link {
        font-size: var(--small-text);
    }
    .password-form {
        max-width: 400px;
        margin-top: 30px;
    }
    .password-desc {
        font-size: var(--text);
    }
    .password-content-desc {
        padding-top: 15px;
        font-size: var(--small-text);
    }
}
