.rich-text-heading,
.rich-text-description,
.rich-text-button {
    padding-bottom: 15px;
}

.rich-text-content {
    width: 100%;
}

.rich-text-content.content-left {
    margin-right: auto;
}

.rich-text-content.content-center {
    margin: 0 auto;
}

.rich-text-content.content-right {
    margin-left: auto;
}

.rich-text-content.small-width {
    max-width: 500px;
}

.rich-text-content.medium-width {
    max-width: 600px;
}

.rich-text-content.large-width {
    max-width: 700px;
}

@media screen and (min-width:768px) {
    .rich-text-content.small-width {
        max-width: 800px;
      }
      .rich-text-content.medium-width {
        max-width: 1100px;
      }
      .rich-text-content.large-width {
        max-width: 1440px;
      }
}

@media (max-width:767px) {
    .rich-text-description * {
        font-size: var(--small-text);
    }
}
